<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

<!--    <select id="queryUserAuthorities" parameterType="long" resultType="com.easy.securityOauth2Credentials.entity.SysMenuResources">-->
<!--        SELECT-->
<!--            mr.*-->
<!--        FROM-->
<!--            sys_role_user ru-->
<!--                LEFT JOIN sys_role r ON ru.role_id = r.id-->
<!--                LEFT JOIN sys_role_resources rr ON r.id = rr.role_id-->
<!--                LEFT JOIN sys_menu_resources mr ON rr.menu_resources_id = mr.id-->
<!--        WHERE-->
<!--            ru.user_id = #{userId} AND mr.is_del = 0-->
<!--    </select>-->
    <select id="queryUserByUserLoginNo" parameterType="String" resultType="com.example.demo.entity.SysUserAccount">
        SELECT
            *
        FROM
            sys_user_account u
        WHERE
            u.login_no = #{loginNo}
    </select>

<select id="queryUserByUserName" parameterType="String" resultType="com.example.demo.entity.SysUserAccount">
    SELECT
        *
    FROM
        sys_user_account u
    WHERE
        u.name = #{name}
</select>

    <!-- 查询用户的子系统列表 -->
    <select id="getUserSubApplication" parameterType="Long"  resultType="String">
        SELECT
            mr.name
        FROM
            sys_role_user ru
                LEFT JOIN sys_role r ON ru.role_id = r.id
                LEFT JOIN sys_role_sub_application rr ON r.id = rr.role_id
                LEFT JOIN sys_sub_application mr ON rr.sub_application_id = mr.id
        WHERE
            ru.user_id = #{userId};
    </select>

</mapper>
